.container {
    position: absolute;
    left: 10%;
    top: 20%;
    background: rgb(30,30,30);
    width: 80%;
}

#title,
.ans-dec {
    font-weight: bold;
    padding-left: 5%;
}

#content,
#answer {
    padding-left: 7%;
}

#unans {
    padding-left: 7%;
    color: rgb(200,0,0);
}

@media screen and (max-width: 750px) {
    .container {
        position: static;
        width: 94%;
    }
}
