{% extends "base_chapter.html" %}

{% block chapter %}
A dictionary has also many functions with it. Let's have a look at these with a short discription
<ul>
	<li>clear(): Clear all items from the dictionary</li>
	<li>copy(): Return a copy of the dictionary</li>
	<li>rfromkeys(): Create a dictionary from a given list/set/tuple and given values</li>
	<li>get(): Return the value of a key. Return None if not found</li>
	<li>items(): A set-like object providing a view on dictionary's items</li>
	<li>keys(): Return keys of a dictionary in a list</li>
	<li>pop(): Remove specified key and return the corresponding value</li>
	<li>popitem(): Remove and return some (key, value) pair as a tuple</li>
	<li>setdefault(): Insert key with a value of default if key is not in the dictionary</li>
	<li>update(): Update dictionary from dict/list/set/tuple</li>
	<li>values(): A list returning all values of dictionary</li>
</ul>
So that's a look at functions related to a dictionary. Now you should move on to create your own functions
{% endblock %}