{% extends "base_chapter.html" %}

{% block chapter %}
A list also has certain functions associated with it. Here are all the functions with a basic discription
<ul>
	<li>append(): Add a item to a list</li>
	<li>clear(): Removes all the elements in the list</li>
	<li>copy(): Returns a copy of the list</li>
	<li>count(): Returns how many times a element occur in a list</li>
	<li>extend(): Expand list by using another list, tuple or a set</li>
	<li>index(): Returns the first occurence of the given item</li>
	<li>insert(): Insert object before index</li>
	<li>pop(): Remove and return item at index (default last)</li>
	<li>remove(): Removes first occurence of the given object</li>
	<li>reverse(): Returns a reversed version of the list</li>
	<li>sort(): Sort the list</li>
</ul>
Tuples and sets also have most of these methods except for a few or may contain more including these. You can check it out by using the <i>dir()</i> function
{% endblock %}