{% extends "base_chapter.html" %}

{% block chapter %}
So why you should learn Python. You can use Python in whatever realm you are, whether you are a professional software developer or you just manage offices or any type of job you want. So let's have a few areas where Python can help you a lot.
<ul>
    <li>So if you have lot's of data in any way, for example excel or some database, and maybe you want to have a quick visualization of your data, Python can help creating a graph or chart of various forms. For example if you have your income, expenditure  and time in a CSV or excel or anything and want to visualize it over a the time, then you can easily do that</li>
    <li>If you have some sort of business or offer services to people, and you want to create some powerful website than you can use Python to easily create them. The whole backend for Python Hub website is actually written in Python</li>
    <li>Now say you want to buy gold or diamonds the next month and want to predict the prices of diamonds the next month so rhat you can setup your budget, you cna use Python to predict the prices of diamonds or gold for the next month based on past and present data</li>
    <li>If you are a cyber security expert and want to write some exploits, then Python is your best friend. You can also use it to automate all your tasks for scaning and doing all the hacking stuff</li>
    <li>You can use Python to create some chatbots and AIs to talk and entertain you</li>
</ul>
So whatever work you do, Python can help you, taking the simplest automation to create complex bots to help you out in the most sifficult choice you have to make in life. You can use iy everywhere. If you wan't to know how you cna use Python in your job or home, you can ask it in the query section
{% endblock chapter %}
