{% extends "base_chapter.html" %}

{% block chapter %}
A comment is any piece of code that is not executed by the Python interpreter. They are very useful as they allow you to keep notes for you as well as for other developers. They also can help you to remember something that you have to either implement or have implemented but want to remove. To define a comment
<pre class="code-area">
# This is a comment
# print("Hello") This hello will not be printed
</pre>
If you run this, it will not do anything result. Note you can also write comments after an end of statement, for example

<pre class="code-area">
print("This is line with comment at its end")	# This is the comment part
</pre>

Please note that in our tutorials, we will be using comments to write some code or say the result of something
{% endblock %}