{% extends "base_chapter.html" %}

{% block chapter %}
Python is a multi-paradigm, interpreted, synamic programming language. It is a very easy to learn and feels much like the English language but can be used to create powerful programs for example graphicla softwares, website building, data analysis, machine learning, artificial intelligence and many more. Now let's know what all the above terms in the definition mean
<ol>
    <li><b>Multi-paradigm:- </b>Paradigm is a way of categorizing a programming language based on its features. Here we talk about how we write code in a certain language. Python supports imperative, functional, object-oriented paradigms. Please note that if you don't understand it, you will eventually understand it as you read furthur</li>
    <li><b>Interpreted:- </b>In Python, a program called interpreter converts the Python code in English to binary language. The interpreter converts the Python code to binary line by line and give it to the OS</li>
    <li><b>Dynamic:- </b>In Python if you can define a variable with a certain data type and then change its datatype and value later without leading to an error. For example:-
    <pre class="code-area">x = 5</pre> Here you have defined a variable x to be 5 and then you id do this later in the program
    <pre class="code-area">x = 3.33</pre> Thus will not throw an error on you. Note that if you don't understand this, you will understand it later on during the course
    So that's a look at what Python is and its features. So now you should move on to the next chapter.
    </li>
</ol>
{% endblock chapter %}
