{% extends "base_chapter.html" %}

{% block chapter %}
{% load static %}

<img src="{% static 'lessons/images/guido-van-rossum.jpg' %}" align="right">
Python was initially developed by Guido van Rossum in the late 1980s. It was a simple and easy to learn programming language ro be taught to students. It was a successor of the <b>ABS Language</b> and was capable of exception handling. Most people think people is named after the Python snake but actually it is named after <b>Monty Python's Flying Circus</b>
 <br> Python 2.0 was released ib the year 2000 with many new features such as garbage collection and support for unicode and Python's developed was now backed by community <br>
Python 3.0 was a major release made in 2008, which was backwards-incompatible breaking from Python 2.7 (The last version of 2 still maintained in 2019 but to be discontinued in January 1 2020). The Python Software Foundation gave a deadline of 2020 to convert all Python 2 code to Python 3 code as the amount of code was huge <br>
Guido van Rossum was the main project leader but in 2012, left his position but works in a 5-member team for the development of Python
{% endblock chapter %}
