{% extends "base_chapter.html" %}

{% block chapter %}
Python has two major versions, Python 2 and Python 3. Python 3 is newer and is maintained by the Python Software Foundation (PSF) but Python 2 is also maintained but will be unsupported after year 2020. So Python 3 the only eersion you shuuld focus on. But let's have a couple of differences between these two versions
<center>
    <table>
        <tr>
            <th>Python 2</th>
            <th>Python 3</th>
        </tr>
        <tr>
            <td>It will be discontinued in 2020</td>
            <td>It is the current maintained version of Python</td>
        </tr>
        <tr>
            <td>It does not supports unicode without adding u in front of a string</td>
            <td>It supports unicode by default</td>
        </tr>
        <tr>
            <td>It has two input methods </td>
            <td>It has only one input method</td>
        </tr>
        <tr>
            <td>It has two range methods, <i>range</i> and <i>xrange</i></td>
            <td>It has only one range method, <i>range</i> </td>
        </tr>
        <tr>
            <td>It uses statements in some commands such as print</i></td>
            <td>print has now become a function</td>
        </tr>
        <tr>
            <td>Division returning a decimal is rounded off</i></td>
            <td>Division is always accurate</td>
        </tr>
    </table>
</center>
<br>
So Now that you have got its difference between Python 2 and Python 3, you should now look at the why you should learn Python

<style media="screen">
    table tr th, td {
        border: 1px solid rgb(0,135,215);
        border-collapse: collapse;
    }
</style>
{% endblock chapter %}
