{% extends "base_chapter.html" %}

{% block chapter %}
The CPU contains several transistors which hold information and do the calculations and processing. They work with  only 0s and 1s. They are called binary digits or bits. Each transistor can have either of the two states at a given point in time either 0 or 1. A 0 represents low voltage and 1 represents high voltage. They are the most basic units of memory. For example we have two transistor, that means we can have 4 possible combinations of information. They are:-
<center>
0  0 <br>
1  1 <br>
1  0 <br>
0  1 <br>
</center>
It follows the principle of 2<sup>n</sup> where <i>n</i> stands for the number of transistors But they are very small to hold information. That's why we use bigger units of memory
<center>
4 bits  =  1 Nibble <br>
8 bits  =  1 Bytes <br>
1024 bytes  =  1 KB <br>
1024 KB  =  1 MB <br>
1024 MB  =  1 GB <br>
1024 GB  =  1 TB <br>
</center>
Higher memory do exists then the table given above but we don't have that sized storage options. There is another set of units which take memory in a different kind of calculation. They are written as Kib, Mib but mostly people  use them interchangeably.

Now you should have a look at what is in a computer in terms of software
{% endblock chapter %}
