{% extends "base_chapter.html" %}

{% block chapter %}
CPU stands for Central Processing Unit, is the most important part of a computer. It does all calculations, management of devices and everything in the computer. You hook peripheral devices in the CPU. So lets have a look at what is inside of a CPU

1. RAM:- It stands for Random Access Memory. The processor saves temporary data here which is randomly read and wrote by the processor. The RAM has small cells which hold the data. This is a temporary place for storage and is cleaned once power is switched off. It is also called the memory.
2. ROM:- Its stands for Read-Only Memory and is where information is permanently placed. here. Normally it contains boot instructions which are executed on computer startup. It also holds the BIOS (Basic Input/Output System) which is started when the computer is booted up.
3. Processor:- It is the device that does all the calculations and processing things in the CPU. It is made up of mainly two parts:- ALU (Arithmetic & logic Unit which handles all calculations and logic tasks) and CU (Control Unit6 which handles flow of programs)
4. Motherboard:- This is where all the above components are integrated along with power supply, a series of ports to connect peripheral devices and other small equipments.

The input devices give raw data to the CPU and the CPU does calculations over it which are specified by the user. The ALU, CU play the biggest role in doing this. The result is then passed on to the output devices which either give them digitally, printed or in the form of sound to the user

Now you should look at how does a computer work in the next chapter
{% endblock chapter %}
