{% extends "base_chapter.html" %}

{% block chapter %}
A computer is an electronic device that takes some kind of input from the user, process something over that data and return some kind of data back to its user. This can be simplest definition one can give for a computer. Lets first understand what data and information is:-

Data Its is some unprocessed raw facts given to a computer over which some calculation or processing is done and returned to the user.

Information:- It is the processed data that is returned by a computer after doing some processing or calculation over it.
Generally these terms are interchangeable.

Now lets discuss the types of computers  available:-
<ol>
    <li> Micro Computers:- These are the computers that are commonly available around our homes and work places.They are cheaply available but have less computing power.
    <li> Mini Computers:- They have bit more processing power than micro computers but costlier than micro computers. They usually use a better type of processor than those found in micro computers.
    <li> Mainframes:- They are the big metals, all servers are of these types that save and compute huge amounts of data. They have special processors designed specifically used in them.
    <li> Super Computers:- They are generally not used by people and used by scientists and those who require extremely huge computing power.
</ol>

Now these has been extends from both sides, we have board computers as well as quantum computers. Lets have a quick look at them:-
Board Computers:- They are credit card sized computers that fit in your pocket. Of course they don't come with a screen or a keyboard or a mouse. They just have a RAM, an SD slot, processor and a couple of ports to connect peripherals to them.

Quantum Computers:- It is said that they are future of scientific calculations involving huge data. Instead of working in the tradition computer having a transistor representing either binary 0 or 1(Discussed in coming chapters) called binary digits and shortened as bits. Quantum Computers work in qubits, which means that one transistor can represent both 0 and 1 at a time. They can change the way our computers work. But they still not complete and scientists are working on developing them.

So that's a look on computers and their types. Now you can move on to the next chapter.
{% endblock %}
