{% extends "base_chapter.html" %}

{% block chapter %}
In the previous chapter, you learned about computer. Now let's have a look at what makes up a computer in terms of hardware

1. Input Devices:- They are the devices that give data to the computer do do some processing over it. They  include things such as keyboard, mouse, sensors, Bar Code/QR Code readers, light pens etc.
2. The CPU:- This is the central part of a computer which does all the processing and calculations in the computer. It is also where all other devices such as input devices, output devices and storage devices are hooked up. It is also called as the brain of the computer as it handles everything in the computer.
3. Output Devices:- These devices give the information processed from the computer to the user in different forms such as digital or printed or electric waves which can be converted to sound. Examples would be monitors, printers, projectors, speakers etc.
4. Storage devices:- These devices are used to store data processed the computer. They are of different forms such as optical devices such as CDs and DVDs, flash devices such as Pen Drives and flash drives, mechanical devices such as hard disks which has a magnetic plotter etc.

So that's a look at the parts of a computer. Now you should see what comprises a CPU in the next chapter.
{% endblock chapter %}
