{% extends "base_chapter.html" %}

{% block chapter %}
Software in a computer can be divided into a cople of categories based on different parameters. So let's have a look at softwares based on a couple of parameters:- <br>
<b>Free or Paid</b>
<ul>
    <li><b>Free:- </b>These are the software that are freely available and do not cost anything for their whole lifetime </li>
    <li><b>Paid:- </b>These software cost money either at the time of download or after installation</li>
</ul> <br>
<b>Proprietary or Open-source:-</b>
<ul>
    <li><b>Open-Source:- </b>These software have their source code freely available for viewing, modifying and redistribution</li>
    <li><b>Proprietary:- </b>These software do not have their source code freely available for viewing, modifying and redistribution</li>
</ul>
<b>Syste Software or Application Software ot Utility Software</b>
<ul>
    <li><b>System Software:- </b>These software are those that are used by the computer itself. They include Operating Systems and Kernals</li>
    <li><b>Application Software:- </b>These software are those that are used by the user and pass their commands to the system software. Examples would be word processors, spreadsheet softwares etc.</li>
    <li><b>Utility Software:- </b>These software give utility to the computer for example protection against viruses or disk defragmentation tools</li>
</ul>
So that's a look at different types of software in a computer. Now toy should go forward to your next unit to learn more about software and its development
{% endblock chapter %}
