{% extends "users/base.html" %}

{% block content %}
    <div id="reset-area">
        <form method="post">
            <h1> Request Password Reset </h1>
            {% csrf_token %}
            <input type="email" name="email" required autofocus placeholder="Email">
            <br>
            <input type="submit" value="Request Password Reset">
        </form>
    </div>
    <style media="screen">
        #reset-area {
            position: absolute;
            left: 30%;
            top: 30%;
            padding-left: 4%;
            padding-top: 4%;
            padding-bottom: 4%;
            padding-right: 4%;
            background: rgb(30,30,30);
        }

        #reset-area input[type=email] {
            background: rgb(50,50,50);
            color: rgb(200,200,200);
            padding-bottom: 5%;
            margin-bottom: 5%;
            padding-right: 45%;
            border: none;
        }

        #reset-area input[type=email]:focus {
            border-bottom: 1px solid rgb(0,135,215);
        }

        #reset-area input[type=submit] {
            background: rgb(0,135,215);
            border: none;
            font-weight: bold;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 1%;
            padding-top: 1%;
            margin-top: 2%;
            color: rgb(255,255,255);
            border-radius: 25px;
            position: relative;
            left: 20%;
        }

        @media screen and (max-width: 760px) {
            div {
                margin-left: -30%;
                width: 100%;
                top: 35%;
            }
        }
    </style>
{% endblock %}
