{% extends "users/base.html" %}

{% block content %}
    <div id="reset-area">
        <form method="post">
            <h1> Password Reset </h1>
            {% csrf_token %}
            <input type="password" name="password" required autofocus placeholder="Password">
            <input type="password" name="confirm_password" required autofocus placeholder="Confirm Password">
            <br>
            <input type="submit" value="Password Reset">
        </form>
    </div>
    <style media="screen">
        #reset-area {
            position: absolute;
            left: 30%;
            top: 30%;
            padding-left: 4%;
            padding-top: 4%;
            padding-bottom: 4%;
            padding-right: 4%;
            background: rgb(30,30,30);
        }

        #reset-area input[type=password] {
            background: rgb(50,50,50);
            color: rgb(200,200,200);
            padding-bottom: 5%;
            margin-bottom: 5%;
            padding-right: 45%;
            border: none;
        }

        #reset-area input[type=password]:focus {
            border-bottom: 1px solid rgb(0,135,215);
        }

        @media screen and (max-width: 760px) {
            #reset-area {
                margin-left: -30%;
                width: 100%;
                top: 35%;
            }
        }

        #reset-area input[type=submit] {
            background: rgb(0,135,215);
            border: none;
            padding-left: 7%;
            padding-right: 7%;
            padding-bottom: 1%;
            padding-top: 1%;
            font-weight: bold;
            margin-top: 2%;
            color: rgb(255,255,255);
            border-radius: 25px;
            position: relative;
            left: 30%;
        }
    </style>
{% endblock %}
