{% extends "base_chapter.html" %}
{% block chapter %}
A software is a set of programs that are contained in one binary package or executable. Now you may ask what a program is. A program is a set of instructions that are written by developerrs. A computer needs software since without it can't do much. The OS, shell, kernal etc all are software. Even you install these you can't do much with your computers. You need a word processors such as MS Word or LibreOffice Writer to view your documents. You need a internet browser like Google Chrome or Mozilla Firefox to search the web. Therefore you need to install software to extend functionality of your computers. So let's learn about how is software is built in the next chapter
{% endblock chapter %}
