{% extends "base_chapter.html" %}

{% block chapter %}
So now let's see the requirements for software development. The following are mostly used by a programmer or developer for writing and maintaining a software.

<ol>
    <li><b>Integrated Dvvelopment Enviroment:- </b>This is a professional software or a text editor that features a wide range of features and functionality for a particular language or many languages. Ex- Atom, Visual Studio Code, Eclipse, PyCharm etc</li>
    <li><b>Version Control:- </b>This let's you keep a track of your software and roll back if you ever did some huge mistake. It even let's you even track and revert your entire codebase if you ask it. Ex - Git, Subversion, Mercurial etc. Most software nowadays use any of the three given above.</li>
    <li><b>Online Source Code Management:-</b> These services let you take your version controlled code to be put on an online server to either make it open-source or to keep a private backup. Ex - Github, Gitlab, Bitbucket etc</li>
</ol>
Other tools such as project management, live confrencing etc, tools are also used by developers while doing software development. So that's a look at the tools used by developers and programmers while dvevloping something. Now you should move on to the next chapter to understand a programmming language.
{% endblock chapter %}
