{% extends "base_chapter.html" %}

{% block chapter %}
    Now that you have know what a programming language is, Now let's have a look at different types of programming languages
    <ol>
        <li><b>General Purpose Languages:-</b> These types of programming languages are used for general purpose tasks such as software dveelopment, website development etc. Examples- Python, C++ Java etc. </li> <br>
        <li><b>System Level Languages:-</b> These languages are used for building of kernals, operating systems, shells etc. They use very efficient then any other type of languages. Examples- C, Rust etc.</li> <br>
        <li><b>Web Development Languages:-</b> Thsee languages are specifically used on the web for website dvevlopment. Exqamples- HTML, CSS, Javascript</li> <br>
        <li><b>Data Analysis Languages:-</b> These languages are specifically used for data analysis such as data visualisation, data manipulation etc. Examples- Julia, R etc. </li>
    </ol>
Now that you have learned the different types of programming languages, you should now move on to the next unit to start learning Python
{% endblock chapter %}
