{% extends "base_chapter.html" %}

{% block chapter %}
    A programming language can be defined as a laguage from which a compiler or interpreter can produce binary code. There are different programming languages like Python, Java, Javascript, C++, C etc. They have different syntaxes (The eay a language is written), different ways of generating binary code and grammer. For example:-
    <ul>
        In Python we write a simple print statement as:
        <pre class="code-area">
print("Hello World")</pre>
        This would generate the following output:
        <pre class="code-area">Hello World</pre>
        While to get the same output in the C language:
        <pre class="code-area">
#include &lt;stdio.h&gt;
int main {
    printf("Hello World");
    return 0;
}</pre>
    </ul>

These programming languages are used either for software development, website building, system-level programming (Building of kernals, OSs etc), Automation, Artificial Language etc.
Now there are different types of programming language which will be discussed in the next chapter
{% endblock chapter %}
