{% extends "base_chapter.html" %}

{% block chapter %}
Now let's talk about compiled language and interpreted language means how a program is converted into binary. Let's look at how each of these progtams change the progtam into binary:-
<ol>
    <li><b>Interpreter:-</b> An interpreter reads the program line by line and changes it into a binary. They are bit slower than compiled language but the difference is mostly negligible. But they are easy to develop since you do not have to convert to binary each time you want to run your program</li>
    <li><b>Compiler:-</b> A compiler takes the program all at once and changes it into binary. They are faster than interpreted languages but the difference is mostly negligible. Each time you want to run your progtam, you have to compile it into a binary</li>
</ol>
So now that you have learned the basic difference between interpreted and compiled languages, you should now look at the tools for progtamming languages.
{% endblock chapter %}
